

.competitie, .datum, .locatie {
	display: block;
	padding: 2px;
	
}


a.send-home {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

table {
	margin: 0px auto;
	width: 100%;
}

tr {
	vertical-align:top;
}

.column1, .column3 {
	width: 30%;
}

.loader {
    border: 16px solid #E9E9E9; /* Light grey */
    border-top: 16px solid #2CC3FF; /* Blue */
    border-radius: 50%;
    width: 85px;
    height: 85px;
    animation: spin 2s linear infinite;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20%;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.column2 {
	width: 10%;
	vertical-align:middle;
	font-size: 35px;
	color: 2CC3FF;
	font-weight: 600;
}

.teamlogoimg {
	height: 120px;
}

.generationerror {
	padding-top: 5%;
}

.teamlogo {
	display:inline;
	float:none;
	margin:auto;
	height: 100%;
}

.eventinfo {
	margin-top:-1.5%;
	font-style: italic;
}

#titlesrow > td{
	padding-top: 1.5%;
	padding-bottom: 0.5%;
	font-weight: 600;
	font-size:17px;
}

#teamhome, #teamaway {
	display: inline-block;
}

.teamname {
	font-size: 20px;
	font-weight: 500;
}

.scorepluslogos {
	min-height: 300px;
	height: 300px;
}

.report {
	display: inline-block;
    text-align: justify;
    text-justify: inter-word;
}


.reporttitle {
	display: inline-block;
    text-align: center;
    font-weight: 600;
}


.title {
	display:block;
}

body {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    background: #666;
    padding: 20px 30px 20px 30px;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #E9E9E9;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

h3>span {
    display: block;
    font-size: 20px;
}

.logo {
	width: 10%;
	margin-bottom: 20px;

}

.group{
	display: inline-block;
	width: 25%;
	margin-top: 20px;
}

#central_space {
	display: inline-block;
	width:5%;
}

label {
    width: 100%;
    text-align: right;
    font-weight: bold;
}


select {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-top: 10px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF url('images/down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 100%;
    height: 35px;
    color: #525252;
    line-height: 25px;
    font-size: 14px;
}


h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
    padding-bottom: 20px;
    font-size: 30px;
}
h1>span {
    display: block;
    font-size: 11px;
}

.button {
    background: #2CC3FF;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #666;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #E9E9E9;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
    margin-top: 20px;
    font-size: 16px;
}

.button:hover {
    color: #333;
    background-color: #EBEBEB;
}

.button.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}


.button.disabled:hover {
  background: #2CC3FF;
  color: #666;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.8);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}

@-webkit-keyframes table_blur {
	0% {-webkit-filter: blur(0px);}
	50% {-webkit-filter: blur(2px);}
	100% {-webkit-filter: blur(3px);}
}


.programma .headerblok .top, .uitslagen .headerblok .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 25px;
    }